*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

:root { /*hier declare ik de css custom properties die ik in het hele document ga gebruiken*/
  --hoofd-kleur: rgb(250, 248, 239); /*beige*/
  --accent-kleur: rgb(225, 236, 244); /*blauw*/
}

/* ALGEMEEN */

main {
  display: flex;
  flex-direction: row; /*bij desktop groote komen de articles naast elkaar te staan in een rij*/
  flex-wrap: wrap; /*bij mobiel groote komen de articles onder elkaar te staan door hun width en flex:wrap*/
}

h1 {
  font-weight: 900;
  font-size: 1.8em;
  text-align: center;
  padding-top: 1em;
}

h2 {
  font-size: 1.6em;
  margin-left: .5em;
}

h3 {
  text-align: center;
  padding-top: 1em;
}

h4 {
  color: rgb(207, 24, 24);
  text-align: center;
}

h5 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}

p {
  margin: 1em;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 80%;
  margin: auto;
}

form input {
  padding: 1em;
}

figcaption p {
  width: 20em;
  text-align: center;
}

/* HEADER */

header {
  background-color: var(--hoofd-kleur);
}

header img { /*logo van het museum*/
  position: absolute; /*image wordt uit de flow gehaald, zodat het bovenop de andere elementen komt te staan*/
  top: .5em;
  left: -5em; /*de image moet deels verborgen zijn, daarom een negatief getal*/
  width: 14em;
}

div { /*hierin staat de iframe video*/
  position: relative; /*zodat header img position:absolute kan hebben binnen deze parent*/
  height: 188px; /*op deze div hoogte vult de iframe video precies het scherm zonder witruimte*/
}

iframe {
  pointer-events: none; /*omdat anders de menu button niet klikbaar is*/
  border: none;
  width: 100%; /*iframe vult de volledige breedte van de div*/
  height: 110%;
}

header button { /*hamburger menu button*/
  z-index: 999; /*het menu moet altijd bovenop blijven staan, bijv. als het menu in beeld schuift*/
  position: fixed; /*menu moet meescrollen met de pagina, altijd in de hoek van het scherm blijven staat*/
  top: 2em;
  right: 2em;
  width: 3.5em;
  height: 3.5em;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--hoofd-kleur);
  background-image: url("../images/hamburger.png"); /*menu icoon*/
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: center;
}

header button:focus { 
  transform: scale(1.1);
  background-color: var(--accent-kleur);
}

header div a {
  /* "Ontdek meer" link*/
  position: relative; /*positioneren met top, bottom, left en right vanaf de default positie*/
  top: -5em; /*over de iframe video heen zetten*/
  width: fit-content;
  margin: auto; /*centreren*/
  display: block;
  padding: .75em;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header div a:focus,
header div a:active {
  background-color: rgb(34, 34, 34);
  border: none;
}

header section ul { /*lijst met Tickets, Nu te zien & Openingstijden*/
  flex-direction: column;
  padding: 2em 2em;
}

header section ul li {
  margin: 1em;
}

header section ul li a {
  color: rgb(49, 49, 49);
  font-size: 1.2em;
  text-decoration: underline;
}

header ul li a:focus { 
  background-color: var(--accent-kleur);
}

/* NAV */

nav {
  overflow: auto; /*hierdoor kan je in het menu naar beneden scrollen*/
  position: fixed; /*hierdoor scrolt het menu mee over de hele pagina, net als de menu button*/
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  transform: translateX(100%); /*schuift het menu uit beeld tot het geopend wordt*/
  transition: 2s;
}

button {
  transition: .5s; /*het veranderen van de background image van de button duurt 0.5 seconden*/
}

nav.open {
  transform: translateX(0%); /*schuift het menu in beeld wanneer het geopend wordt*/
}

button.open { /*als er op de menu knop gedrukt wordt verandert zijn background image*/
  background-image: url("../images/pijl.png");
}

nav ul {
  padding: 1em;
  list-style: none;
}

nav ul li a { /*linkjes in het hamburger menu*/
  text-decoration: none; /*de linkjes in het hamburger menu krijgen geen underline*/
  display: block;
  padding: .75em;
}

nav img { /*logo*/
  position: static; /*overschrijven van position:absolute geerfd van header img*/
  max-width: 250px;
  padding: 2em 0em 2em 0em;
  margin: 0em auto 1em 1em;
}

nav h2 {
  font-size: 1.5em;
  margin-left: 1.2em;
}

/* ARTICLES & SECTIONS */

section, article {
  width: 100vw;
}

article img, figure img {
  width: 70%;
  margin: 1em 1em;
}

section, section:nth-of-type(3) {
  background-color: var(--hoofd-kleur);
}

article, section:nth-of-type(2), section:nth-of-type(4), section:nth-of-type(5) {
  background-color: var(--accent-kleur);
}

section ul { /*de horizontale lijst met images waar je doorheen scrollt*/
  display: flex; /*plaatst de list items in een row waardoor de lijst horizontaal wordt geplaatst*/
  overflow: scroll; /*maakt de lijst scrolbaar*/
  list-style: none;
  align-items: baseline;
}

section ul li img { /*de images in de scroll lijst*/
  display: block;
  margin: auto; /*centreert de images boven de tekst*/
}

article a:nth-of-type(3) { /* "Meer info" button*/
  display: block; /*margins top en bottom werkten eerst niet omdat a een inline element is*/
  margin: 1em 1em;
  padding: 1em;
  border: .5px solid rgb(0, 0, 0);
  width: 40%;
}

article a:nth-of-type(3):focus { /* "Meer info" button focus state*/
  background-color: rgb(130, 202, 253);
}

section:nth-of-type(3) a { /*privacy statement link*/
  text-decoration: underline;
  display: block;
  margin: 1em 1em;
}

section:nth-of-type(5) ul { /*social media iconen*/
  display: flex; /*flexbox om de iconen in een rij te zetten*/
  justify-content: center; /*iconen centreren*/
}

section:nth-of-type(5) ul img { /*social media iconen kleiner maken*/
  max-width: 2em;
}

section:nth-of-type(5) a { /*"Meer..." button*/
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 35%;
  padding: 1em;
  border: .5px solid rgb(0, 0, 0);
}

section:nth-of-type(5) ul li a { /*border weghalen bij de social media iconen*/
  border: none;
  margin: 1em 1em;
}

/* FOOTER */

footer {
  background-color: var(--hoofd-kleur);
}

footer img { /*logo*/
  margin: 0em auto 1em 1em;
  max-width: 250px;
  padding-top: 2em;
}

footer h5, footer p, footer a, address { /*alle tekst in de footer hetzelfde alignen*/
  margin-left: 1em;
  text-align: start;
}

footer a {
  text-decoration: underline;
}

footer ul { /*social media iconen*/
  display: flex; /*flexbox om de iconen in een rij te zetten*/
  list-style: none;
}

footer ul li a img { /*social media iconen*/
  max-width: 2em;
  margin-bottom: 2em;
}

/**********************************/
/* EXTRA STYLING VOOR ONTDEK.HTML */
/**********************************/

#ontdek header {
  background-color: rgb(255, 255, 255);
}

#ontdek header h1 {
  position: relative; /*h1 beweegt top, left, right en bottom vanaf de default positie*/
  top: -4em;
  margin: auto;
  width: 10em;
  color: rgb(255, 255, 255);
  font-size: 6vw; /*de lettergroote schaalt mee met de schermgroote*/
}

#ontdek header img { /*foto van het museum*/
  position: static; /*reset van position:absolute geerfd van header img van pagina 1*/
  width: 100vw; /*foto staat over de gehele header heen*/
  top: 0;
  right: 0;
  left: 0;
}

#ontdek header img:nth-of-type(2) { /*logo van het museum*/
  position: absolute; /*het logo gaat uit de flow, waardoor het bovenop de foto gaat staan*/
  top: 2em;
  left: -5em;
  width: 50%;
}

#ontdek section h2 {
  text-align: center;
  padding: .5em;
}

#ontdek article h4 { /*titel collectie Poppenhuis*/
  text-align: left;
  margin-left: 1.2em;
}

#ontdek section, #ontdek article {
  background-color: rgb(255, 255, 255);
}

#ontdek section:nth-of-type(3) {
  background-color: var(--accent-kleur);
}

#ontdek section p { /*intro tekst*/
  padding: 1.5em;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
}

#ontdek article:first-of-type { /*article over Rietveld collectie*/
  background-image: url("../images/stoelen.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#ontdek article:first-of-type p { /*tekst Rietveld collectie*/
  padding: 1.5em;
  text-align: left;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  line-height: 2em;
}

#ontdek section:nth-of-type(2) a { /*knoppen "Nu te zien" & "Plan uw bezoek" */
  display: block; /*de linkjes staan onder elkaar, ze nemen de hele regel in*/
  margin: auto; /*centreren*/
  width: 12em;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  border: solid 0.1em rgb(75, 75, 75);
}

#ontdek article:nth-of-type(2) img { /*foto Poppenhuis*/
  width: 100vw;
  margin: 2em 0em 2em 0em;
}

#ontdek main section ul { /*social media iconen positioneren*/
  display: flex; /*zet de iconen in een rij naast elkaar*/
  justify-content: center;
  list-style: none;
  margin: 1em;
}

#ontdek main section ul li a img { /*social media iconen stylen*/
  max-width: 2em;
  margin: 1em;
}

#ontdek main section:nth-of-type(2) ul li a { /*social media links*/
  border: none; /*border en width resetten, geerfd van #ontdek section:nth-of-type(2) a */
  width: 6em;
}

/**************/
/* RESPONSIVE */
/**************/

/*Ik heb de site uitgewerkt voor 3 device grootes: mobiel(375x643), tablet(768x643) en desktop(1024x857)*/

@media screen and (min-width: 768px) { /*vanaf tablet formaat*/
  /*op tablet formaat komen sommige elementen naast elkaar te staan in plaats van onder elkaar*/

  div { /*hierin staat de iframe video*/
    height: 375px; /*de div wordt geresized zodat de video meeschaalt en er goed uit blijft zien*/
    margin-bottom: 2em; /*ruimte tussen de video en de lijst met links*/
  }

  header section:first-of-type ul { /*lijst met Tickets, Nu te zien & Openingstijden*/
    flex-direction: row; /*op tablet formaat komen de lijst items naast elkaar te staan*/
  }

  article {
    width: 50vw; /*hierdoor kunnen er 2 articles naast elkaar staan*/
  }

  section article {
    width: 45vw; /*hierdoor kunnen er 2 articles naast elkaar staan*/
    display: inline-grid; /*zonder dit werd de article naar de volgende pagina geduwd*/
  }

  section:nth-of-type(5) a { /*"Meer" button*/
    width: 20%;
  }

  /*pagina 2*/

  #ontdek header img:nth-of-type(2) { /*logo van het museum*/
    left: -10em; /*logo deels uit beeld schuiven*/
  }

  #ontdek article {
    width: 100vw; /*zodat niet 2 articles naast elkaar kunnen staan zoals op pagina 1*/
  }

  #ontdek article:nth-of-type(2) { /*foto en tekst naast elkaar in een grid plaatsen*/
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 2em 1fr;
  }

  #ontdek article:nth-of-type(2) img { /*foto van collectie Poppenhuis*/
    width: 50vw; /*hierdoor passen foto en tekst naast elkaar*/
    grid-row: -1/1; /*maakt de foto even hoog als de rijen tekst ernaast*/
  }

  #ontdek article:nth-of-type(2) h4 { /*titel collectie Poppenhuis*/
    width: 40vw;
    grid-row: 2/3;
  }

  #ontdek article:nth-of-type(2) p {
    width: 40vw;
    grid-row: 3/4;
  }

}

@media screen and (min-width: 1024px) { /*vanaf desktop formaat*/
  /*op desktop formaat komen sommige elementen weer onder elkaar te staan, anderen blijven naast elkaar*/
  /*en in sommige articles staat de tekst links of rechts van de afbeelding in plaats van er onder*/
  /*ook staat het hamburger menu in een rij ipv column*/

  div { /*hierin staat de iframe video*/
    height: 500px; /*de div wordt geresized zodat de video meeschaalt en er goed uit blijft zien*/
    width: 70vw;
    margin-bottom: 0; /*ruimte tussen de video en de links is niet meer nodig, want de links staan nu naast de video*/
  }

  iframe { /*hierin wordt de video van het museum geladen*/
    /*de video die in de iframe wordt geladen heeft witruimte boven en beneden die ik niet weg kan halen*/
    height: 75%; /*de kleinere hoogte van de iframe duwt de video naar boven, waardoor er geen witruimte meer is bovenaan de pagina*/
  }

  header {
    display: flex; /*om de links naast de rest van de header te zetten in plaats van er onder*/
  }

  header img { /*logo van het museum*/
    width: 16em;
  }

  header section { /*section met lijst met links*/
    width: 30vw;
    align-self: center;
    order: -1; /*zet de links aan de linkerkant van de rest van de header*/
  }

  header section:first-of-type ul { /*lijst met links: Tickets, Nu te zien & Openingstijden*/
    flex-direction: column; /*de items komen weer onder elkaar te staan*/
    overflow: visible; /*scroll verwijderen die geerfd wordt van de image scroll lijst*/
  }

  article{
    width: 100vw; /*de articles weer onder elkaar te staan, omdat ze elk de hele breedte innemen*/
    display: grid; /*grid gebruikt om de tekst rechts van de afbeelding te zetten*/
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    padding: 1em 0em;
  }

  article a:first-of-type{
    grid-row: 1 / -1; /*maakt de img even hoog als de rijen tekst ernaast*/
  }

  section article{
    display: inline-block; /*alleen de articles die niet in een section staan moeten in de grid gaan staan*/
    padding: 2em;
  }

  section article img{
    width: 100%;
  }

  /*inhoud hamburger menu*/
  nav, nav.open {
    display: grid; /*met grid de menu elementen naast elkaar gezet in plaats van onder elkaar*/
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 6em 1.5em 1fr;
    grid-gap: 1em;
  }

  nav img { /*logo van het museum*/
    grid-row: -1/1; /*het logo neemt de hele linker rij in zodat de tekts er niet overheen loopt*/
    width: 14em;
  }

  nav h2 {
    grid-row: 2/3;
  }

  nav ul {
    grid-row: 3/4;
  }

  /*pagina 2*/

  #ontdek article:first-of-type {
    display: block; /*reset display:grid van article pagina 1*/
  }

  #ontdek header img { /*achtergrond foto van de header kleiner maken*/
    height: 30em;
  }

  #ontdek header nav img { /*nav image (logo) weer groter maken*/
    height: 16em;
  }

  #ontdek header img:nth-of-type(2) { /*logo van het museum*/
    left: -14em; /*logo half buiten beeld schuiven*/
  }

  #ontdek header h1 { /*welkoms tekst*/
    position: absolute; /*h1 gaat uit de flow zodat het bovenop de foto gaat staan*/
    top: 7em;
    left: 3em;
    width: 16em;
    font-size: 3em;
  }

  #ontdek section:first-of-type { /*section met intro tekst*/
    margin: 4em 1em; /*meer witruimte om de intro tekst heen*/
  }

  #ontdek section p { /*intro tekst*/
    width: 75%;
    margin: auto;
  }
}